<h1>{{student.first_name}} {{student.last_name}} [{{student.id}}]</h1>
<ul class="list-group">
  <li class="list-group-item"><strong>Email: </strong>{{student.email}}</li>
  <li class="list-group-item"><strong>Phone: </strong>{{student.phone}}</li>
  <li class="list-group-item"><strong>Next of Kin: </strong>{{student.next_of_kin}}</li>
  <li class="list-group-item"><strong>Next of kin Phone: </strong>{{student.nok_phone}}</li>
</ul>
<a class="btn btn-default pull-left" href="/">Back</a>
<form method="POST" action="/student/delete/{{student.id}}?_method=DELETE">
  <input type="submit" class="btn btn-danger pull-right" value="Delete">
</form>
